/* Navbar */

body {
    text-align: center;
    padding-top: 50px;

    /**
     * System font stack for sans-serif fonts
     *
     * `-apple-system`('San Francisco' font) – Support: Safari 9+ macOS and iOS, Firefox macOS
     * `BlinkMacSystemFont` ('San Francisco' font) – Chrome 48+ macOS and iOS
     * `Segoe UI` – Windows Vista & newer
     * `Roboto` – Android 4.0
     * `Lato` – Wikimedia Design choice, OFL licensed
     * `Helvetica, Arial, sans-serif` – (Generic) Web fallback
     *
     * Note that CSS Fonts Module Level 4's `system-ui` value has resulted in
     * unresolved side-effects in certain OS/language combinations as of
     * now and is therefore not included.
     *
     * Ref: [1]
     * 
     * NOTE: We do this to to override the font native font stack of Bootstrap[2] and
     * use  the Wikimedia font stack[1] in it's place.
     *
     * References:
     * [1]: https://phabricator.wikimedia.org/T175877
     * [2]: https://getbootstrap.com/docs/4.1/content/reboot/#native-font-stack
     */
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif;
}

.toggle-theme {
    color: #f1f1f1;
    opacity: 50%;
}
.toggle-theme:hover{
    opacity: 100%;
}
.toggle-theme::after{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(356deg) brightness(106%) contrast(102%);
    display: block;
    width: 25px;
    height: 25px;
}

.dark-mode .toggle-theme::after {
    content: url("images/moon.svg");
}

.light-mode .toggle-theme::after {
    content: url("images/sun.svg");
}

.dark-mode {
    background-color: #212529;
    color: #fff !important;

    #docs h2>a,
    #docs h3>a {
        color: #fff !important;
    }
    .shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.85) !important;
    }
}


.bg-primary {
    background-color: #006699 !important;
}


/* Navbar: Hack to jump to correct anchor position by @mnot */

*[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}


/* Jumbotron */

.jumbotron {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Merops_apiaster_04.jpg/1280px-Merops_apiaster_04.jpg');
    background-position: center top;
    background-size: cover;
    color: #fff;
}

.jumbotron h1 {
    font-size: 4rem;
    text-shadow: 0 0 0.5rem #000;
    text-align: left;
}

.jumbotron .container {
    position: relative;
    height: 500px;
}

.jumbotron .app-badge {
    position: absolute;
    right: 0;
}

.jumbotron .app-badge img {
    width: 300px;
}

.jumbotron .app-badge.f-droid-badge {
    bottom: 70px;
}

.jumbotron .app-badge.play-store-badge {
    bottom: -20px;
}

/* Matching commons-app theme */

.btn-outline-primary:hover {
    background-color: #006699;
}

.section-divider {
    background-image: url('images/section-divider.svg');
    width: 100%;
    max-width: 600px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;
}


/* Feature items */

.item {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
    margin: 10px -5px;
}

.item-image {
    height: 440px;
    background-color: lavender;
    padding: 20px 0;
}

.feature-image {
    height: 100%;
    width: auto;
}

.item-header {
    padding-top: 20px;
}

.item-text {
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}


/* Installation & Usage */

.large-count {
    padding-left: 0;
    text-align: left;
    list-style: none;
    counter-reset: first-order-counter;
}

.large-count li {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    line-height: 40px;
    margin-left: 70px;
    position: relative;
    padding-bottom: 20px;
}

.large-count li:before {
    content: counter(first-order-counter);
    counter-increment: first-order-counter;
    font-size: 30px;
    line-height: 70px;
    position: absolute;
    left: -50px;
    top: -15px;
    color: #006699;
}


/* Photo guidelines */

.guide-list {
    padding-left: 0;
    text-align: left;
    list-style: none;
}

.guide-list li {
    padding: 10px;
    font-size: 1.25rem;
}

/* Documentation Header */
#docs h2>a, #docs h3>a{
    color: black;
    text-decoration: none;
}

/* Footer */

footer {
    margin-bottom: 70px;
}

footer h2 {
    margin-bottom: 20px;
}


/* Misc */

.inner {
    max-width: 900px;
}

.qr-code-div {
    padding: 30px 15px;
}
