* {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: $navigationHeight 0 0 0;
}

p {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
}

a {
    color: $commonsBlue;
}

// Buttons

.button {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px 40px;
    background-color: #5d5d5d;
    color: white;
    text-decoration: none;
    transition: background-color 0.1s ease-in-out;

    .no-touchevents &:hover {
        background-color: $commonsBlue;
    }
}

.button-div {
    padding: 30px 0;
}

// Headers

.section-header {
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
}

.item-header {
    font-weight: 400;
    color: $commonsBlue;
    padding: 10px 20px;
}

.item-image {
    width: 100%;
    height: 400px;
    background-color: lavender;
    padding: 20px 0;

    .image {
        height: 100%;
        width: auto;
    }
}

// Sections

.section {
    width: 100%;
    box-sizing: border-box;
}

.grey-section {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 30px 0;
    margin: 30px 0;

    .section-header {
        margin-top: 10px;
    }
}

.inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    max-width: $nine;
    box-sizing: border-box;
}

.section-divider {
    background-image: url("../images/section-divider.svg");
    width: 100%;
    max-width: 600px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px auto 10px auto;
    padding: 0 20px;
    box-sizing: border-box;

    @media screen and (max-width: $bpSix) {
        max-width: 400px;
    }
}

// Correct for html anchor offset

.anchor-offset {
    &:before {
        content: "";
        display: block;
        height: $navigationHeight;
        margin: -$navigationHeight 0 0;
    }

    &.grey-section {
        &:before {
            content: "";
            display: block;
            height: calc(#{$navigationHeight} + 20px);
            margin: calc(-#{$navigationHeight} + 20px) 0 0;
        }
    }
}

// Inline elements

.item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10px;
}

.item {
    width: calc(50% - 20px);
    background-color: #fafafa;
    box-sizing: border-box;
    margin: 0 10px 20px 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);

    .no-touchevents &:hover {
        .hover-bar {
            transform: translateX(5px)
        }
    }

    @media screen and (max-width: $bpSix) {
        width: 100%;
        margin: 0 0 20px 0;
    }
}

.item-text {
    text-align: left;
    font-size: 18px;
    padding: 0 20px;
}

.hover-bar {
    position: absolute;
    left: -10px;
    bottom: 0;
    background-color: $commonsBlue;
    width: 10px;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

// Lists

.large-count {
    padding-left: 0;
    text-align: left;
    list-style: none;
    counter-reset: first-order-counter;

    li {
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
        line-height: 40px;
        margin-left: 70px;
        position: relative;
        padding-bottom: 20px;

        &:before {
	        content: counter(first-order-counter);
	        counter-increment: first-order-counter;
	        font-size: 50px;
            line-height: 70px;
            position: absolute;
            left: -50px;
            top: -15px;
            color: $commonsBlue;
        }
    }
}

.guide-list {
    padding-left: 0;
    text-align: left;
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 30px;

    li {
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
        line-height: 40px;
        margin-left: 70px;
        position: relative;
        padding-bottom: 20px;

        &:before {
	        font-size: 50px;
            line-height: 70px;
            position: absolute;
            font-weight: 600;
            top: -15px;
            transform: rotate(-5deg);
            text-shadow: 3px 3px #4d4d4d;
        }
    }

    .plus {
        &:before {
	        content: '\2714';
            left: -55px;
            color: #18a718;

        }
    }

    .minus {
        &:before {
	        content: '\2718';
            left: -60px;
            color: #ff4e4e;
        }
    }
}

